@import "../ui/Pill.scss";

.tags {
  .pill:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.pill {
  $base-color: rgb(192, 110, 10);
  $spectrum: 300deg;
  $offset: 85deg;
  $business-types: bar, catering, cleaning-service, coffee-shop, dairy-farm,
    farm, food-merchandise, gym-fitness, health-beauty, hotel, marketing,
    photographer, restaurant, retail;
  $num-colors: length($business-types);

  @mixin get-bg-color($i) {
    background: adjust-hue($base-color, $offset + $spectrum / $num-colors * $i);
  }

  &.black-owned {
    background-color: black;
    color: white;
  }

  @for $i from 1 to $num-colors + 1 {
    &.#{nth($business-types, $i)} {
      @include get-bg-color($i);
      color: white;
    }
  }
}
